/*  your css code here. If applicable */
.blog-column{
	background-color:gray;
	display:grid;
	 grid-template-columns: repeat(3, 1fr);
	justify-content:center;
	gap:10px;
	padding:1rem;
}
.box{
	background-color:#faf9f7;
	text-align:center;
	border-radius:5px;
}